@using OdinXSiteMVC2.Data
@model OdinXSiteMVC2.Models.DTO.NewRegDTO
@inject OdinXSiteMVC2Context _mySqlDb

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var test = ViewData["test"];

    
}

<h1>Modify @ViewData["userName"]'s Profile</h1>

<h4> @test  </h4>

@*@foreach (var i in ViewData["test"]) {*@
    
@*}*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profilePic" class="control-label"></label>
                <input asp-for="profilePic" class="form-control" />
                <span asp-validation-for="profilePic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gamerTag" class="control-label"></label>
                <input asp-for="gamerTag" class="form-control" />
                <span asp-validation-for="gamerTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="role" class="control-label"></label>
                @*<input asp-for="role" class="form-control" />*@

            @*@Html.DropDownListFor(x => Model.role, new SelectList(Model.role, Model.roleId, Model.role), htmlAttributes: new { @class = "form-control"})*@
                   
    

                @*<select asp-items="ViewBag.allRoles" asp-for="role" name="role"></select>*@
                <select asp-items="((SelectList)@ViewData["allRoles"])" asp-for="role" name="role"></select> @*asp-for is the variable 'name' in Product model -- name can be anything *@

                <span asp-validation-for="role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roleId" class="control-label"></label>
                <input asp-for="roleId" class="form-control" />
                <span asp-validation-for="roleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

