/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #F9C64D;
}

a:hover {
    color: #FFFFFF;
}

.btn-primary {
    color: #000000;
    background-color: #F9C64D;
    border-color: #1861ac;
    font-weight: bold; 
}

.btn-primary:hover {
    background-color: #E3A91E;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #7E7E7E;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-size:cover;
    background-position: center center;
    background-image: url('/Assets/Pic/bandg1.jpg');
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.text-bottom{
    color: #fff

}

h1, h2,  p {
    font-family: 'Anton';
    color: #FFC300;
    letter-spacing: 2px;
}

/*My CSS*/

img#execpics{
    width: 250px;
    height: 250px;
}

div.exec-socia {
    display: flex;
}

div.exec-soc-container {
    width:auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: scroll;
/*    display: flex;*/
    background-color: white;
    margin: 20px;
    white-space: nowrap;
    /*transform: rotate(-90deg);
    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100px);*/
    /*position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 80px;
    max-height: 500px;
    margin: 0;
    background: #abc;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-80px);
    transform-origin: right top;*/
}

.exec-soc-container > div {
/*    width: 100px;
    height: 100px;*/
    color: black;
    /*transform: rotate(90deg);
    transform-origin: right top;*/
    font-size: 40px;
    display: inline-block;
    /*    padding: 100px;*/
    /*    display: flex;*/
    /*display: block;
    padding: 5px;
    background: #cab;
    transform: rotate(90deg);
    transform-origin: right top;*/
}