/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    transition: all .2s ease-in-out;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #F9C64D;
}

a:hover {
    color: #FFFFFF;
}

.btn-primary {
    color: #000000;
    background-color: #F9C64D;
    border-color: #1861ac;
    font-weight: bold; 
}

.btn-primary:hover {
    background-color: #E3A91E;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #7E7E7E;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* find: background image */
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-size:cover;
    background-position: center center;
    background-image: url('/Assets/Pic/web_background.jpg');
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.text-bottom{
    color: #fff

}

h1, h2,  p {
    font-family: 'Arvo';
    color: #FFC300;
    letter-spacing: 2px;
}

/* My CSS */

img#execpics{
    width: 250px;
    height: 250px;
}

div.exec-socia {
    display: flex;
}

div.exec-soc-container {
    width:auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: white;
    margin: 20px;
    white-space: nowrap;
}

.exec-soc-container > div {
    color: black;
    font-size: 40px;
    display: inline-block;
}

.card {
    margin: 25px;
    box-shadow: 5px 5px #FFD13B;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    outline-width: 1.5px;
    outline-color: #FFD13B;
    outline-style: solid;
    width: 18rem;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.91);
    border-radius: 30px;
}

.card:hover {
    width: 19rem;
}

img.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 35px;
}

img.profilePic:hover {
    cursor: pointer;
}
