@using Microsoft.AspNetCore.Identity
@using OdinXSiteMVC2.Data
@using OdinXSiteMVC2.Models.DTO;
@using System.Security.Claims
@*@model IEnumerable<OdinXSiteMVC2.Models.DTO.NewRegDTO>*@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject OdinXSiteMVC2Context _mySqlDb
@inject ApplicationDbContext _authDb
@{
    
}

<div class="navbar-nav">

@if (SignInManager.IsSignedIn(User))
    
{
    //CLAIMTYPE.NAMEIDENTIFIER IS USED TO FIND THE ID OF THE USER - REMOVE THE LINK FROM ABOVE
    
    var user = UserManager.GetUserAsync(User);
    var id = user.Result.Id;

        //FIND THE PIC LCOATION IN DB 
    string myUser = user.Result.profilePic;

        if (myUser == null) {
            myUser = "../../Assets/Pic/defaultPic.jpg";
        } 

    <div class="nav-item log"> 
        <img class="profilePic" src= "@myUser"/> 
        <div> </div>
        <div class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Welcome @User.Identity.Name!</a>
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    </div>
    
}
else
{
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
}
</div>
